@import url("index.css");

.header {
  margin-top: 5%;
  width: 100%;
  margin-bottom: 80px;
  animation: gentleBounce 9s ease-in-out infinite;
}

.profile-image {
  max-width: 200px;
  max-height: 200px;
  margin-right: 30px;
}

/* Socials */
.social-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  margin-right: 20px;
}

/* Password protect */
.password-popup {
  background-color: var(--card);
}

.submit-button {
  border: 1px var(--border) solid;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.password-popup input {
  background: none;
  padding: 10px 10px;
  border-radius: 999px;
  border: 2px var(--border) solid;
}

.field-span {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.field-span p1 {
  margin-bottom: 10px;
}

.invalid-info {
  -webkit-text-fill-color: rgb(95, 15, 15);
  margin: 15px 0;
}
