@import url("index.css");
@import url("animations.css");

/* ANIMATIONS */
@keyframes float {
  0%,
  100% {
    transform: translateY(-50%) translateY(0);
  }
  50% {
    transform: translateY(-50%) translateY(-18px);
  }
}

/* Shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

@keyframes bounceAll {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px);
  }
}

@keyframes gentlePulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.03);
    opacity: 1;
  }
}

@keyframes gentleBounce {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(7px, -7px);
  }
  50% {
    transform: translate(-7px, -7px);
  }
  75% {
    transform: translate(-7px, 7px);
  }
}
