@import url("index.css");

.design {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  border: 1.5px solid var(--border);
  border-radius: 10px;
  padding: 0 2% 0 0;
}

.design:hover {
  opacity: 0.6;
}

.design-icon {
  width: 90px;
  margin-right: 30px;
  border-radius: 10px;
}

.design-left-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
}

.design-left-text {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.design-name {
  margin: 0;
}

.design-tagline {
  font-size: 16px;
  margin: 3px 0;
}

.design-right-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.view-more-button {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .design {
    flex-direction: column;
    align-items: stretch;
    padding: 5%;
  }

  .design-icon {
    margin-bottom: 10px;
  }

  .design-left-col {
    width: 100%;
    margin-bottom: 10px;
  }

  .design-right-col {
    justify-content: flex-start;
    width: 100%;
  }

  .view-more-button {
    margin: 0
  }
}

/* Expanded */
.design-project-expanded {
  background-color: var(--card);
}

.design-project-expanded div {
  margin-bottom: 30px;
}

.awards {
    margin-top: 15px;
}
