@import url("components.css");
@import url("animations.css");

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CURSOR */
.app {
  cursor: none;
}

.cursor-style {
  background-color: rgba(0, 255, 255, 0.7);
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  transform-origin: 100% 100%;
  transform: translate(-50%, -50%);
  position: fixed;
  pointer-events: none;
  z-index: 9999999999999;
}

/* SWITCH DARK-LIGHT */
.switch-container {
  position: absolute;
  right: 5%;
  top: 5%;
  display: flex;
  flex-direction: row;
}

.switch-container img {
  height: 20px;
  width: 20px;
  margin: 5px 15px 0 15px;
}

/* FONTS */
/* Import font */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.ttf") format("truetype");
}

/* COLOURS */
:root {
  --primary: #2ecc71;
  --secondary: #D9FDD6;
  --card: #171717;
  --card-secondary: #3c3c3c;
  --background: linear-gradient(-45deg, white, #d9efff, white, #bbe3b8);
  --text: #e8e8e8;
  --border: #424242;
  --nav-background: #424242;
  --light-border: #424242;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Satoshi", sans-serif;
  background: var(--background);
  -webkit-text-fill-color: var(--text);
  padding: 8% 20% 5% 20%;
  background-size: 100%;
  animation: gradient 2s ease-in-out infinite;
  cursor: none;
}

@media (max-width: 768px) {
  body {
    margin: 5%;
  }
}

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  margin-bottom: 5px;
}

h2 {
  font-weight: 700;
  font-size: 28px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-weight: 600;
  font-size: 22px;
}

h5 {
  font-weight: 500;
  font-size: 20px;
}

h6 {
  font-weight: 500;
  font-size: 18px;
}

/* Paragraph and subtitle */
p1,
p2,
p3 {
  font-size: 16px;
}

p1 {
  /* Default */
  font-weight: 400;
}

p2 {
  /* Bold */
  font-weight: 700;
}

p3 {
  /* Italic */
  font-weight: 400;
  font-style: italic;
}

a {
  -webkit-text-fill-color: var(--text);
  text-decoration: none;
}

/* LAYOUTS */
.vertical-stack {
  display: flex;
  flex-direction: column;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .horizontal-stack {
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
  }

  .modal-header {
    flex-direction: column-reverse; /* Reverse order for mobile layout */
  }
}

section {
  margin-top: 50px;
}
