@import url("index.css");

.navbar {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  width: 200px;
  padding: 10px 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background: var(--nav-background);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  margin: 20px 0;
}

.navbar ul li a {
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  transition: var(--background) 0.3s ease;
}

@media (max-width: 1024px) {
  .navbar {
    visibility: hidden;
  }
}
