.navbar {
  width: calc(100% - 40vw); /* Adjust to account for the 20vw margins on each side */
  margin: 0 auto;
  background-color: var(--nav-background);
  border-radius: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  position: fixed;
  top: 40px;
  left: 20vw;
  right: 20vw;
  transition: box-shadow 0.3s ease-in-out;
}

.navbar.scrolled {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Darker shadow when scrolled */
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
}

.nav-links li {
  display: flex;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  border-radius: 20px;
  background: transparent;
  transition: background 0.3s, transform 0.3s;
  display: inline-block;
  padding: 10px 15px;
}

.nav-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.theme-toggle {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.theme-toggle img {
  width: 20px;
  height: 20px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--text);
  margin: 4px;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .navbar {
    width: calc(100% - 10rem); /* Full width for mobile, minus some padding */
    left: 1rem; /* Start from the left with some padding */
    right: 1rem; /* End at the right with some padding */
    top: 10px; /* Adjust the top position */
    border-radius: 30px; /* Maintain the border-radius */
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    display: none;
    width: 100%;
    padding: 0;
    border-radius: 30px; /* Maintain the border-radius for the dropdown */
    background-color: var(--nav-background); /* Match background color */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Match shadow */
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: flex;
  }

  .theme-toggle {
    padding: 0;
  }
}
