@import url("index.css");

/* ProjectCondensed */
.software-project-condsened-body:hover {
  animation: bounceAll 0.6s ease-in-out;
}

.software-project-condsened-body {
  position: relative;
}

.software-project-icon-container {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.software-project-icon {
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 1px var(--light-border) solid;
  background-color: var(--secondary);
}

.play-button {
  position: absolute;
  width: 20%;
  border: none;
  bottom: 5%;
  right: 5%;
}

.name,
.tagline {
  margin-bottom: 10px;
}

.tech-stack {
  -webkit-text-fill-color: var(--primary);
}

@media (max-width: 1024px) {
  .software-project-icon-container {
    margin-bottom: 15px;
  }
}

/* ProjectExpanded */
.software-project-expanded {
  background-color: var(--card);
}

.software-project-expanded div {
  margin-bottom: 30px;
}

.modal-header {
  margin-top: 30px;
}

.modal-header-text {
  margin-left: 50px;
}

/* Carousel */
.carousel,
.carousel-root {
  margin: 0;
  padding: 0;
}

/* Awards */
.awards li {
  margin-bottom: 10px;
}

/* Key Features */
.key-features {
  background-color: var(--card-secondary);
  border-radius: 15px;
  padding: 5%;
}

.key-features li {
  font-weight: 600;
  margin-bottom: 10px;
}

.feature-icon {
  font-size: 20px;
  margin-right: 15px;
}

.feature-text {
  font-weight: 700;
}

/* Technical Breakdown */
.technical-description {
  list-style: none;
  padding-bottom: 5%;
}

.technical-description li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
}

.technical-description li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  font-size: 20px;
  line-height: 1;
}
